.App {
  border: 1px solid red;
  text-align: center;
  display:  flex;
  flex-direction: column;
}

header {
  background-color: pink;

}

ul{
  list-style: none;
  border: 1px solid green;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(100px, 1fr); */

  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content:center;


  height: 200px;
  /* margin-left: 200px; */
}

li {
  /* display: flex; */
  flex: 0 0 33%;
  /* flex-direction: row; */
  box-sizing: border-box;
}

li span {
  display: block;
  width: 200px;
  border: 1px solid pink;
  background: #adbfb5;
  color: black;
}


